/* TODO EL DOCUMENTO */
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* CONTENEDOR DE LA BARRA DE NAVEGACION */
.navbar{
  background-color: #ff6858;
  padding: 0 24px;
}

/* ANCHOR DEL LOGO */
.logo{
  text-decoration: none;
}

/* IMAGEN DEL LOGO */
.logo img{
  margin: 8px;
  width: 40px;
  height: 40px;
}

/* TEXTO DEL LOGO */
.logo span{
  color: #FFF;
  font-size: 24px;
  font-weight: bold;
}

/* ANCHOR DE LA NAVEGACION */
.nav-link{
  color: #FFF !important;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 12px;
}
  .nav-link.active{
    border-bottom: 2px solid #FFF;
  }
    .nav-link:hover{
      border-bottom: 2px solid #FFF;
    }

.navbar-toggler{
  border: none !important;
}

.navbar-toggler i{
  color: #FFF;
}

/* UBICAMOS LA NAVEGACION AL FINAL */
#navbarMenu{
  place-content: end;
}

/* SECCION PRINCIPAL */
.main-section{
  display: grid;
  place-content: center;
  gap: 80px;
  height: 95vh;
  background-image: url('./../assets/img/background.jpg');
  background-position: center center;
  background-size: cover;
}

/* TITULO DE LA SECCION PRINCIPAL */
.main-section .main-section__title{
  font-size: 4rem;
  color: #FFF;
  text-shadow: 3px 1px 1px black;
}
  
/* BOTON DE ACCION PARA LA SECCION MAIN */
.main-section .main-section__btn, .offers-section .offers-section__btn{
  color: white;
  background-color: #2f9f02;
  font-weight: bold;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 24px 0;
  padding: 16px;
}
  .main-section .main-section__btn:hover, .offers-section .offers-section__btn:hover{
    color: white;
    background-color: #227501;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 24px 0;
    padding: 16px;
  }

  .main-section .main-section__btn:active, .offers-section .offers-section__btn:active{
    color: white !important;
    background-color: #227501 !important;
    border: 1px solid black !important;
  }


/* SECCION DE MEGA OFERTAS */
.offers-section, .list-section{
  padding: 48px 32px;
  max-width: 100%;
  margin: 0 48px;
  text-align: center;
}

.offers-section .offers-section__title{
  text-align: center;
  border-bottom: 2px solid black;
  font-weight: bold;
  font-size: 36px;
}

.product-container{
  padding: 48px 12px;
}

.product-container__card .product-container__card__name{
  font-weight: bold;
}

.product-container__card .product-container__card__price{
  color: #e61610;
  font-weight: bold;
  font-size: 28px;
}

.product-container__card span{
  display: block;
}

/* FOOTER */
.contact-bottom-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #e6e6e6;
  padding: 34px;
  max-width: 100%;
  margin-top: 48px;
}

.contact-bottom-section .contact-bottom-section__item{
  justify-self: center;
}

.contact-bottom-section .contact-bottom-section__item span{
  font-weight: bold;
}

.footer-section{
  background-color: black;
  padding: 12px;
}

.footer-section p{
  font-weight: bold;
  text-align: center;
  color: white;
}

/* PAGINA CONTACTO */
.form-section{
  text-align: center;
}

.form-section h2, .main-content h2, .list-section h2{
  padding: 32px;
  font-weight: bold;
  text-align: center;
  font-size: 48px;
}

form{
  display: inline-block;
  max-width: 100%;
}

.form-group{
  width: 35%;
  display: inline-block;
  margin: 16px 24px;
  text-align: left;
}

.app-input{
  width: 100%;
  margin: 8px 0px;
  padding: 8px;
}

textarea{
  resize: none;
}

.app-label{
  font-weight: bold;
}

.footer-container{
  position: fixed;
  width: 100%;
  bottom: 0;
}

.main-content{
  margin: 0px 120px 144px 120px;
}

.card{
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 0px 48px;
}

.card .card_head{
  text-align: center;
  background-color: black;
  color: white;
}

.card .card_head i{
  padding: 12px 4px;
  font-size: 24px;
}

.card .card_head h4{
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid white;
  padding: 8px;
}

.card .card_head p{
  padding: 8px;
}

.card .card_map iframe{
  height: 300px !important;
}