.product-container{
  padding: 48px 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-container.catalogue{
  gap: 48px;
}


.wireframes, .mockups{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  margin: 24px 0;
}