.grid-container{
  display: grid;
  place-content: space-between;
}

.card-container{
  @extend .grid-container;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.product-container{
  @extend .grid-container;
  grid-template-columns: repeat(4, 1fr);
}

.wireframes, .mockups{
  @extend .grid-container;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  margin: 24px 0;
}