// CELU
@media screen and (max-width: 767px) {

  .app-title{
    font-size: map-get($font-sizes, xl);
  }

  //INDEX
  // TITULO DE LA SECCION PRINCIPAL
  .main-section{
    gap: 40px;
    height: 60vh;
    
    &__title{
      font-size: map-get($font-sizes, xl);
    }
    
  }

  .app-button{
    padding: 8px;
    font-size: map-get($font-sizes, md);
  }

  .offers-section{
    
    &__title{
      font-size: map-get($font-sizes, xl);
    }
    
  }
  

  //FOOTER
  .footer-contact{
    grid-template-columns: 1fr;
    padding: 8px;

    &__item{
      padding: 16px 0px;
    }
  }

  //SUCURSALES
  .card-container{
    grid-template-columns: repeat(1, 1fr);
  }

  .product-container{
    grid-template-columns: repeat(1, 1fr);
  }

  .fixed-bottom{
    position: relative !important;
  }

  
}

// TABLET
@media screen and (min-width: 767px) and (max-width: 1023px) {

  //INDEX
  // TITULO DE LA SECCION PRINCIPAL
  .main-section{
    gap: 40px;
    height: 60vh;
    
    &__title{
      font-size: map-get($font-sizes, xl);
    }
    
  }

  .app-button{
    padding: 8px;
    font-size: map-get($font-sizes, md);
  }

  .offers-section{
    
    &__title{
      font-size: map-get($font-sizes, xl);
    }
    
  }
  

  //FOOTER
  .footer-contact{
    grid-template-columns: 1fr;
    padding: 8px;

    &__item{
      padding: 16px 0px;
    }
  }

  //SUCURSALES
  .card-container{
    grid-template-columns: repeat(2, 1fr);
  }

  .product-container{
    grid-template-columns: repeat(2, 1fr);
  }

  .fixed-bottom{
    position: relative !important;
  }
  
}

// PC
@media screen and (min-width: 1024px) {

  .card-container, .product-container{
    grid-template-columns: repeat(3, 1fr);
  }

}

// PC MAS GRANDE
@media screen and (min-width: 1440px) {

  .card-container, .product-container{
    grid-template-columns: repeat(4, 1fr);
  }

}