<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supermercado EME</title>
  
  <!-- FONTAWESOME FOR ICONS -->
  <link rel="stylesheet" href="../assets/fontawesome/css/fontawesome.css">
  <link rel="stylesheet" href="../assets/fontawesome/css/brands.css">
  <link rel="stylesheet" href="../assets/fontawesome/css/solid.css">

  <!-- ESTILO PROPIO -->
  <link rel="stylesheet" href="../assets/css/main.css">

  <!-- TIPOGRAFIA -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

</head>
<body>

  <!-- BARRA DE NAVEGACION -->
  <nav class="nav-bar">

    <!-- LOGO Y NOMBRE -->
    <a href="../index.html" class="logo">
      <img src="../../assets/img/logo.png" >
      <span>SUPERMERCADOS EME</span>
    </a>

    <!-- NAVEGACION -->
    <ul class="nav-link-container">
      <li class="nav-item">
        <a href="../index.html" class="nav-link">INICIO</a>
      </li>
      <li class="nav-item">
        <a href="./sucursales.html" class="nav-link">SUCURSALES</a>
      </li>
      <li class="nav-item">
        <a href="./catalogo.html" class="nav-link active">CATALOGO</a>
      </li>
      <li class="nav-item">
        <a href="./club-eme.html" class="nav-link">CLUB EME</a>
      </li>
      <li class="nav-item">
        <a href="./contacto.html" class="nav-link">CONTACTO</a>
      </li>
    </ul>

  </nav>

  <section class="list-section">

    <h2>NUESTROS PRODUCTOS</h2>

    <div class="product-container">
      <!-- PRODUCTO 1 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img/mega-promos/producto-01.webp" class="product-img">
        </a>
        <span class="product-name">FIDEOS MAROLIO X 500GRS</span>
        <span class="product-price">$200.00</span>
      </div>

      <!-- PRODUCTO 2 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img/mega-promos/producto-02.webp" class="product-img">
        </a>
        <span class="product-name">ACEITE MOLTO X 1.5LTS</span>
        <span class="product-price">$700.00</span>
      </div>

      <!-- PRODUCTO 3 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img/mega-promos/producto-03.webp" class="product-img">
        </a>
        <span class="product-name">ARROZ MOLTO X 500GRS</span>
        <span class="product-price">$280.40</span>
      </div>

      <!-- PRODUCTO 4 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img/mega-promos/producto-04.webp" class="product-img">
        </a>
        <span class="product-name">CACAO NESQUIK X 180GRS</span>
        <span class="product-price">$654.99</span>
      </div>

      <!-- PRODUCTO 1 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img/mega-promos/producto-01.webp" class="product-img">
        </a>
        <span class="product-name">FIDEOS MAROLIO X 500GRS</span>
        <span class="product-price">$200.00</span>
      </div>

      <!-- PRODUCTO 2 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img/mega-promos/producto-02.webp" class="product-img">
        </a>
        <span class="product-name">ACEITE MOLTO X 1.5LTS</span>
        <span class="product-price">$700.00</span>
      </div>

      <!-- PRODUCTO 3 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img/mega-promos/producto-03.webp" class="product-img">
        </a>
        <span class="product-name">ARROZ MOLTO X 500GRS</span>
        <span class="product-price">$280.40</span>
      </div>

      <!-- PRODUCTO 4 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img/mega-promos/producto-04.webp" class="product-img">
        </a>
        <span class="product-name">CACAO NESQUIK X 180GRS</span>
        <span class="product-price">$654.99</span>
      </div>

      <!-- PRODUCTO 1 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img/mega-promos/producto-01.webp" class="product-img">
        </a>
        <span class="product-name">FIDEOS MAROLIO X 500GRS</span>
        <span class="product-price">$200.00</span>
      </div>

      <!-- PRODUCTO 2 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img/mega-promos/producto-02.webp" class="product-img">
        </a>
        <span class="product-name">ACEITE MOLTO X 1.5LTS</span>
        <span class="product-price">$700.00</span>
      </div>

      <!-- PRODUCTO 3 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img/mega-promos/producto-03.webp" class="product-img">
        </a>
        <span class="product-name">ARROZ MOLTO X 500GRS</span>
        <span class="product-price">$280.40</span>
      </div>

      <!-- PRODUCTO 4 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img/mega-promos/producto-04.webp" class="product-img">
        </a>
        <span class="product-name">CACAO NESQUIK X 180GRS</span>
        <span class="product-price">$654.99</span>
      </div>

    </div>

  </section>


  <!-- SECCION CONTACTO BOTTOM -->
  <section class="contact-bottom-section">
    <div class="phone-icon">
      <i class="fa-solid fa-phone"></i>
      <span>3546 875632</span>
    </div>

    <div class="email-icon">
      <i class="fa-solid fa-envelope"></i>
      <span>info@supermercadoseme.com.ar</span>
    </div>

    <div class="location-icon">
      <i class="fa-sharp fa-solid fa-location-dot"></i>
      <span>Córdoba, Argentina</span>
    </div>
    
  </section>

  <!-- SECCION FOOTER  -->
  <footer class="footer-section">
    <p>DESARROLLADO POR MAX MENVIELLE</p>
  </footer>

</body>
</html>