<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supermercado EME - Catálogo</title>
  
  <!-- ESTILO PROPIO -->
  <link rel="stylesheet" href="./../css/main.css">

  <!-- TIPOGRAFIA -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1265f141d4.js" crossorigin="anonymous"></script>

  <!-- FONTAWESOME -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

  <!-- BARRA DE NAVEGACION -->
  <nav class="nav-bar">

    <!-- LOGO Y NOMBRE -->
    <a href="../index.html" class="logo">
      <img src="./../assets/img/logo.png" >
      <span>SUPERMERCADOS EME</span>
    </a>

    <!-- NAVEGACION -->
    <ul class="nav-link-container">
      <li class="nav-item">
        <a href="../index.html" class="nav-link"><i class="fa-solid fa-house"></i> INICIO</a>
      </li>
      <li class="nav-item">
        <a href="./../views/sucursales.html" class="nav-link"><i class="fa-solid fa-building"></i> SUCURSALES</a>
      </li>
      <li class="nav-item">
        <a href="./../views/catalogo.html" class="nav-link active"><i class="fa-solid fa-book"></i> CATÁLOGO</a>
      </li>
      <li class="nav-item">
        <a href="./../views/club-eme.html" class="nav-link"><i class="fa-solid fa-gift"></i> CLUB EME</a>
      </li>
      <li class="nav-item">
        <a href="./../views/contacto.html" class="nav-link"><i class="fa-solid fa-address-book"></i> CONTACTO</a>
      </li>
    </ul>

  </nav>

  <section class="list-section">

    <h2>NUESTROS PRODUCTOS</h2>

    <div class="product-container">
      <!-- PRODUCTO 1 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img-promos/producto-01.webp" class="product-img">
        </a>
        <span class="product-name">FIDEOS MAROLIO X 500GRS</span>
        <span class="product-price">$200.00</span>
      </div>

      <!-- PRODUCTO 2 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img-promos/producto-02.webp" class="product-img">
        </a>
        <span class="product-name">ACEITE MOLTO X 1.5LTS</span>
        <span class="product-price">$700.00</span>
      </div>

      <!-- PRODUCTO 3 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img-promos/producto-03.webp" class="product-img">
        </a>
        <span class="product-name">ARROZ MOLTO X 500GRS</span>
        <span class="product-price">$280.40</span>
      </div>

      <!-- PRODUCTO 4 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img-promos/producto-04.webp" class="product-img">
        </a>
        <span class="product-name">CACAO NESQUIK X 180GRS</span>
        <span class="product-price">$654.99</span>
      </div>

      <!-- PRODUCTO 1 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img-promos/producto-01.webp" class="product-img">
        </a>
        <span class="product-name">FIDEOS MAROLIO X 500GRS</span>
        <span class="product-price">$200.00</span>
      </div>

      <!-- PRODUCTO 2 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img-promos/producto-02.webp" class="product-img">
        </a>
        <span class="product-name">ACEITE MOLTO X 1.5LTS</span>
        <span class="product-price">$700.00</span>
      </div>

      <!-- PRODUCTO 3 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img-promos/producto-03.webp" class="product-img">
        </a>
        <span class="product-name">ARROZ MOLTO X 500GRS</span>
        <span class="product-price">$280.40</span>
      </div>

      <!-- PRODUCTO 4 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img-promos/producto-04.webp" class="product-img">
        </a>
        <span class="product-name">CACAO NESQUIK X 180GRS</span>
        <span class="product-price">$654.99</span>
      </div>

      <!-- PRODUCTO 1 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img-promos/producto-01.webp" class="product-img">
        </a>
        <span class="product-name">FIDEOS MAROLIO X 500GRS</span>
        <span class="product-price">$200.00</span>
      </div>

      <!-- PRODUCTO 2 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img-promos/producto-02.webp" class="product-img">
        </a>
        <span class="product-name">ACEITE MOLTO X 1.5LTS</span>
        <span class="product-price">$700.00</span>
      </div>

      <!-- PRODUCTO 3 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img-promos/producto-03.webp" class="product-img">
        </a>
        <span class="product-name">ARROZ MOLTO X 500GRS</span>
        <span class="product-price">$280.40</span>
      </div>

      <!-- PRODUCTO 4 -->
      <div class="product-card">
        <a href="#">
          <img src="./../assets/img-promos/producto-04.webp" class="product-img">
        </a>
        <span class="product-name">CACAO NESQUIK X 180GRS</span>
        <span class="product-price">$654.99</span>
      </div>

    </div>

  </section>


  <!-- SECCION CONTACTO BOTTOM -->
  <section class="contact-bottom-section">
    <div class="phone-icon">
      <i class="fa-solid fa-phone"></i>
      <span>3546 875632</span>
    </div>

    <div class="email-icon">
      <i class="fa-solid fa-envelope"></i>
      <span>info@supermercadoseme.com.ar</span>
    </div>

    <div class="location-icon">
      <i class="fa-sharp fa-solid fa-location-dot"></i>
      <span>Córdoba, Argentina</span>
    </div>
    
  </section>

  <!-- SECCION FOOTER  -->
  <footer class="footer-section">
    <p>DESARROLLADO POR MAX MENVIELLE</p>
  </footer>

</body>
</html>