<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supermercado EME</title>
  
  <!-- FONTAWESOME FOR ICONS -->
  <link rel="stylesheet" href="../assets/fontawesome/css/fontawesome.css">
  <link rel="stylesheet" href="../assets/fontawesome/css/brands.css">
  <link rel="stylesheet" href="../assets/fontawesome/css/solid.css">

  <!-- ESTILO PROPIO -->
  <link rel="stylesheet" href="../assets/css/main.css">

  <!-- TIPOGRAFIA -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

</head>
<body>

  <!-- BARRA DE NAVEGACION -->
  <nav class="nav-bar">

    <!-- LOGO Y NOMBRE -->
    <a href="../index.html" class="logo">
      <img src="../assets/img/logo.png" >
      <span>SUPERMERCADOS EME</span>
    </a>

    <!-- NAVEGACION -->
    <ul class="nav-link-container">
      <li class="nav-item">
        <a href="../index.html" class="nav-link">INICIO</a>
      </li>
      <li class="nav-item">
        <a href="./sucursales.html" class="nav-link active">SUCURSALES</a>
      </li>
      <li class="nav-item">
        <a href="./catalogo.html" class="nav-link">CATALOGO</a>
      </li>
      <li class="nav-item">
        <a href="./club-eme.html" class="nav-link">CLUB EME</a>
      </li>
      <li class="nav-item">
        <a href="./contacto.html" class="nav-link">CONTACTO</a>
      </li>
    </ul>

  </nav>

  <section class="main-content">

    <h2>NUESTRAS SUCURSALES</h2>

    <div class="card">

      <div class="card_head">
        <i class="fa-solid fa-location-dot"></i>
        <h4>ALTA GRACIA</h4>
        <p>Av. don pepino 492</p>
      </div>

      <div class="card_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d27081.18618752942!2d-64.54947753960751!3d-31.956873961861614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps!5e0!3m2!1ses-419!2sar!4v1676590855814!5m2!1ses-419!2sar"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>

    <div class="card">

      <div class="card_head">
        <i class="fa-solid fa-location-dot"></i>
        <h4>VILLA GENERAL BELGRANO</h4>
        <p>Av. don pepino 492</p>
      </div>

      <div class="card_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d27081.18618752942!2d-64.54947753960751!3d-31.956873961861614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps!5e0!3m2!1ses-419!2sar!4v1676590855814!5m2!1ses-419!2sar"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>

    <div class="card">

      <div class="card_head">
        <i class="fa-solid fa-location-dot"></i>
        <h4>CAPITAL</h4>
        <p>Av. don pepino 492</p>
      </div>

      <div class="card_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d27081.18618752942!2d-64.54947753960751!3d-31.956873961861614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps!5e0!3m2!1ses-419!2sar!4v1676590855814!5m2!1ses-419!2sar"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>

    <div class="card">

      <div class="card_head">
        <i class="fa-solid fa-location-dot"></i>
        <h4>STA ROSA DE CALAMUCHITA</h4>
        <p>Av. don pepino 492</p>
      </div>

      <div class="card_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d27081.18618752942!2d-64.54947753960751!3d-31.956873961861614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smaps!5e0!3m2!1ses-419!2sar!4v1676590855814!5m2!1ses-419!2sar"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>

  </section>


  <!-- SECCION CONTACTO BOTTOM -->
  <section class="contact-bottom-section">
    <div class="phone-icon">
      <i class="fa-solid fa-phone"></i>
      <span>3546 875632</span>
    </div>

    <div class="email-icon">
      <i class="fa-solid fa-envelope"></i>
      <span>info@supermercadoseme.com.ar</span>
    </div>

    <div class="location-icon">
      <i class="fa-sharp fa-solid fa-location-dot"></i>
      <span>Córdoba, Argentina</span>
    </div>
    
  </section>

  <!-- SECCION FOOTER  -->
  <footer class="footer-section">
    <p>DESARROLLADO POR MAX MENVIELLE</p>
  </footer>

</body>
</html>

